@page "/"

<h1 class="page-header">Key Share</h1>

<h2 class="page-header">Sharing data, made easy</h2>

<p>Key Share is a simple platform that allows easy and simple data transfer betweeen people and applications.
It contains an api for using it in your applications to transfer data with zero configuration and has a simple web application that
    you can use to share data with people privately and securely.
</p>


